<ion-header>
  <ion-toolbar color= primary>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title *ngIf="city">
      Météo à {{ city }}
    </ion-title>
    <ion-title *ngIf="!city">
        Météo Application
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Une application pour voir la météo</p>
    <ion-button (click)="navToAbout()" expand="block" color="primary">Voir</ion-button>
  </div>
  
</ion-content>
